body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: aqua;
}
.love{
    background-color: red;
    color: orange;
    width: 500px;
}

.image {
    margin:40px 0 0 40px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.contentb {
    border-style: dotted;
    border-radius: 10px;
    border-width: 20px;
    weight: 20px;
    height: 100px;
    size: 100px;
    color: orange;
}

.border {
    border-style: inset;
    border-radius: 10px;
    border-width: 20px;
}

.hameleon{
    background-color: #3c4458;
}

.text{
    background-color: pink;
    color: black;
    width: 500px;
}

.stixb{
    border-style: solid;
    border-radius: 0px;
    border-width: 2px;
    width: 450px;
    height: 235px;
    border-color: rgb(255, 0, 0);
    border-padding-left: 10px;
    padding-right: 0px;
    margin-left: 40%;
}

.kolya{
    align-content: right;
    position: absolute;
    margin-left: 20%;
}

.content {
    background-color: #ffffff85;
    margin: 2%;
    padding: 5px 10px;
}

.textstix{
    text-align: center;
    margin-right: 30%;

}

.textcenter{
    text-align: center;
}

.textright{
    text-align: right;
}